body {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
        sans-serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
    text-decoration: none;
}

.navbar-container {
    box-shadow: 0rem 1.2rem 1.7rem -.4rem rgba(87,87,87,0.77);
-webkit-box-shadow: 0rem 1.2rem 1.7rem -.4rem rgba(87,87,87,0.77);
-moz-box-shadow: 0rem 1.2rem 1.7rem -.4rem rgba(87,87,87,0.77);
}
.navbar {
    max-width: 156.0rem;
    padding: 2.0rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    width: 20.0rem;
    height: auto;
}
.navbar-left {
    width: 5.0rem;
    margin-right: 2.0rem;
}

.navbar-right {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin:1.5rem;
}

.find-a-store {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.sign-in,
.join-now {
    font-weight: 500;
    border: .1rem solid black;
    border-radius: 4.0rem;
    padding: .5rem 2.0rem .5rem 2.0rem;
}

.join-now {
    background-color:white;
    color: white;
}

.join-now:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.sign-in:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;

}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modalcontent{
    display: flex;
    position: relative;
    background: #fff;
    width: 55.0rem;
    max-width: 90%;
    padding: .1em .2em;
    border-radius: .4rem;
}
.modalclose{
    display: flex;
    position: absolute;
    top: 0;
    right: 1.5rem;
    color: #585858;
    text-decoration: none;
    font-size: 3.6rem;
}

.form{
    background: white;
    display: flex;
    flex-direction: column;
    width: 50.0rem;
    border-radius: 1.0rem;
    margin-left: auto;
    margin-right: auto;
}
.form-h3{
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0rem;

}

.logos{
    margin: auto;
    width: 3.5rem;
    height: 3.5rem;
}
}
form input, form textarea{
    border: 0;
    margin: 1.0rem 0;
    padding: 2.0rem;
    outline: none;
    background: #f5f5f5;
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;

}
input::placeholder, textarea::placeholder{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

form button{
    padding: 1.5rem;
    background: #555;
    color: white;
    font-size: 1.6rem;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 20.0rem;
    border-radius: 3.0rem;
    margin-left: auto;
    margin-right: auto;
    

}
form button:hover{
    background: #808080;
    transition: all 0.4s;
}
@media screen {
    html{
        font-size: 62.5%;
    }
}

@media(max-width : 1000px) {
    html{
        font-size: 55%;
    }
}

@media(max-width : 768px) {
    html{
        font-size: 40%;
    }
    .logos{
        width:;
        height: auto;
    }
}

@media(max-width : 568px) {
    html{
        font-size: 30%;
    }
}

@media(max-width : 460px) {
    html{
        font-size: 20%;
    }
}

@media(max-width : 298px) {
    html{
        font-size: 10%;
    }
}

@media(max-width : 158px) {
    html{
        font-size: 5%;
    }
}

@media(max-width : 158px) {
    html{
        font-size: 5%;
    }
}


@media(max-width : 100px) {
    html{
        font-size: 2%;
    }
}
