/* News list styling */
.news-container {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
}

.news-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-container strong {
    color: var(--muted-color);
    // font-size: 0.97em;
    font-weight: 500;
    // letter-spacing: 0.08em;
    // text-transform: uppercase;
}

.news-container::-webkit-scrollbar {
    width: 6px;
}

.news-container::-webkit-scrollbar-track {
    background: transparent;
}

.news-container::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 3px;
}
